@mixin invisible() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@keyframes fade {
	0%,100% { opacity: 0 }
	50% { opacity: 1 }
}

.logo-centered {
	background-image: url('../../resources/sfylabs-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
}

.summary {
	li {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		vertical-align: center;
		color: $notification-text-a;
	}

	li.strong {
		font-weight: 500;
		color: $plain-text-b;
		margin-bottom: 7px;
		text-transform: uppercase;
	}
}

.image-subtitle {
	font-weight: 400;
	font-size: 16px;
	color: $img-subtitle;
	width: 200px;
	margin: 0 auto;
}

.fp-controlArrow.fp-next {
	right: 5px;
	border-width: 20px 0 20px 15px;
	border-color: transparent transparent transparent #fff;
}

.fp-controlArrow.fp-prev {
	left: 5px;
	width: 0;
	border-width: 20px 15px 20px 0;
	border-color: transparent #fff transparent transparent;
}

.product-summary {
	text-align: left;
	font-size: 18px;

	.title {
		color: $plain-text-a;
		margin-bottom: 15px;
		font-weight: 500;
	}

	ul {
		list-style: disc;
	}


	li {
		color: $text-title-a;
	}
}

/* desktop & tablet */
@media only screen and (min-width: 500px) {
}

