#header-container {
	position:fixed;
	z-index:9;
	text-align: left;
	width: 100%;
	background-color: $base-grey;
}

#footer-container {
	color: #fff;
	position:fixed;
	z-index:9;
	bottom:5px;
	right: 20px;
	text-align: right;
	font-size: 12px;
}

#header-small-container {
	display: block;
	position: relative;

	header {
		width: 100%;
		height: 40px;

		.hamburger {
			position: absolute;
			top: 9px;
			right: 7px;
			width: 27px;
			height: 21px;
			background: url(../resources/hamburger.svg);
			background-size: 23px 18px;
			background-repeat: no-repeat;
			padding: 2px;
			outline: 0;
			border: 0;
			z-index: 10000000000000;
		}

		.cross {
			display: none;
			position: absolute;
			top: 9px;
			right: 7px;
			width: 21px;
			height: 21px;
			background: url(../resources/close.svg);
			background-size: 21px 21px;
			outline: 0;
			border: 0;
			z-index: 10000000000000;
		}
	}

	.logo {
		background: url(../resources/sfylabs-logo.png);
		width: 103px;
		height: 27px;
		background-size: 103px 27px;
		background-repeat: no-repeat;
		position: absolute;
		left: 7px;
		top: 7px;
	}

	.header-title {
		width:100px;
		height:40px;
		line-height: 40px;
		vertical-align: center;
		position:absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		color: white;

	}

	.menu {
		display: none;
		top: 0;
		z-index: 1000000;
		font-weight: 500;
		font-size: 0.8em;
		width: 100%;
		background: $very-light-grey;
		position: absolute;
		text-align: left;


		ul {
			margin: 0 0 0 0;
			padding: 0;
			list-style-type: none;
			list-style-image: none;
		}

		li {
			display: block;
			padding: 15px 0 15px $mobile-left-right-margin;
			border-bottom: $base-grey 1px solid;
			text-transform: uppercase;
		}

		li:hover {
			display: block;
			background: #ffffff;
			padding: 15px 15px 15px 0;
		}

		ul li a {
			text-decoration: none;
			margin: 0;
			color: #666;
		}

		ul li a:hover {
			color: #666;
			text-decoration: none;
		}

		a {
			text-decoration: none;
			color: #666;
		}

		a:hover {
			text-decoration: none;
			color: #666;
		}
	}
}

#header-normal-container {
	display: none;
}

/* tablet */
@media only screen and (min-width: 501px) and (max-width:999px) {
	#header-normal-container {
		background-color: $base-grey;
		width: 100%;
	}
}

/* desktop */
@media screen and (min-width:1000px) {
	#header-normal-container {
		background-color: $base-grey;
		width: 900px;
		margin: 0 auto;
	}
}

/* big desktop */
@media screen and (min-width:1200px) {
	#header-normal-container {
		background-color: $base-grey;
		width: 1100px;
		margin: 0 auto;
	}
}

/* tablet & desktop */
@media only screen and (min-width: 501px) {
	#header-container {
		background-color: initial;
	}

	#header-small-container {
		display: none;
	}

	#header-normal-container {
		display: block;
		position: relative;
		height: 40px;

		.logo {
			background: url(../resources/sfylabs-logo.png);
			width: 114px;
			height: 30px;
			background-size: 114px 30px;
			background-repeat: no-repeat;
			position: absolute;
			left: $tablet-left-right-margin;
			top: 6px;
		}

		.header-title {
			width:200px;
			height:40px;
			line-height: 40px;
			vertical-align: center;
			position:absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
			color: white;

		}

		ul {
			position: absolute;
			right: $tablet-left-right-margin;
			top: 12px;
			padding: 0;
			list-style-type: none;
		}

		li {
			display: inline;
			text-transform: uppercase;

			a {
				color: $very-dark-grey;
				text-decoration: none;
				font-size: 14px;
				font-weight: 500;
			}

			a:hover {
				color: white;
			}
		}
	}
}