.section {
	background-color: $background-grey;
}

.content-container {
	padding: 0 30px 25px 30px;
}

.content-container.main-page {
	padding: 50px 30px 25px 30px;
}

.content-container.centered-content {
	text-align: center;
}

%page-title-base {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin-top: 30px;
}

%section--title-base {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	vertical-align: center;
	text-align: center;
	margin: 0 -30px 40px -30px;
	color: white;
}

%section--subtitle-base {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 36px;
	vertical-align: center;
	color: #203844;
}

%plain-text-base {
	font-size: 18px;
	line-height: 18px;
	text-align: justify;
	margin-bottom: 20px;
}

%notification-base {
	padding: 10px 20px;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	margin-bottom: 20px;
}

%separator-base {
	height: 4px;
	display: block;
	margin: 20px;
	border: none;
	background-color: $separator-a;
}

.section--variant-a {
	background-color: $background-grey;

	.page-title {
		color: $text-title-a;
		@extend %page-title-base;
	}

	.section--title {
		background-color: $section-title-background-a;
		@extend %section--title-base;
	}

	.section--subtitle {
		@extend %section--subtitle-base;
	}

	.plain-text {
		color: $plain-text-a;
		@extend %plain-text-base;
	}

	.notification {
		color: $notification-text-a;
		background-color: $notification-background-a;
		@extend %notification-base;
	}

	.separator {
		@extend %separator-base;
	}
}

.section--variant-b {
	background-color: $background-grey;

	.section--title {
		background-color: $section-title-background-b;
		@extend %section--title-base;
	}

	.section--subtitle {
		@extend %section--subtitle-base;
	}

	.plain-text {
		color: $plain-text-b;
		@extend %plain-text-base;
	}

	.separator {
		@extend %separator-base;
	}
}