$menu-background: #F4F5F6;
$menu-border: #C7CDD0;
$menu-hover: #E9EBEC;
$logo-green: #9CC500;
$background-grey: #E9EBEC;
$img-subtitle: #697980;

$section-title-background-a: $logo-green;
$separator-a: #C7CDD0;
$text-title-a: #6F7E84;
$plain-text-a: #354B56;
$notification-background-a: #F4F5F6;
$notification-text-a: #879499;

$section-title-background-b: #BCC3C6;
$text-title-b: #FFFFFF;
$plain-text-b: #27292B;
$line-separator-b: #C7CDD0;


